body {
	background-color:#000000;
	background-image: #ffffff;
	color:rgb(0, 0, 0);
	font-family:   Helvetica,Arial, sans-serif;
	margin:0;
	padding:0;
}
a {
	text-decoration:none;
	color:#0044ff;
}

li:hover { 
	font-weight: bold; 
}

h1,h2,h3 {
	margin:0;
}

#main h3{
	font-size:23px;
	font-weight: bold;
	color:rgb(0, 0, 0);
}
#container {
	background-color:#ffffff;
	width:1100px;
	margin-left:auto;
	margin-right:auto;
}
#header {
	
	color: rgb(0, 0, 0);
	text-align: center;
	padding:30px;
	margin:0px;
	transition: all .2s ease-in-out;
}
#header:hover{
	
}
#header img{
	width:auto;
	height: 250px;
}
#content {
	padding:30px;
	font-size:22px;
	min-height: calc(100vh - 170px - 40px);
}

#nav {
	width:180px;
	float: left;
	margin-right:10px;
	
}
#nav .material-icons-outlined{
	margin-right:10px;
}

#nav ul {
	list-style-type:none;
	padding:0;
	
}


#main {
	width:750px;
	float:right;
	

}
#footer {
	clear:both;
	padding:10px;
	background-color:#464646;
	color:#ffffff;
	text-align:center;
	margin:0
	
}
hr {
	height: 1px;
    background-color: #ffffff;
    border: none;
	width:85%;
	text-align:center;
	
}
